*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #ECECED;
    font-size: 1.6rem;
}

:root{
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;

    font-size: 62.5%;
}

header{
    display: flex;
    flex: row;
    padding: .7rem 2rem;

}


nav{
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 2rem;
}
.tt{
    display: flex;
}

.one, .two, .tree{
    height: 3px;
    background-color: black;
    width: 100%;
    margin: .6rem auto;
    transition-duration: 0.4s;
}

.menu{
    height: 3rem;
    width: 2.9rem;
}

.logo{
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.3s;
    display: block;
}

.logo img{
    width: 5.2rem;
    height: 2.6rem;
}

ul{
    display: none;
}


.search{
    position: relative;
    border: 1px solid red;
    width: 4rem;
    height: 4rem;
    border-radius: 6rem;
    transition: 1.5s;
    cursor: pointer;
    overflow: hidden;
}

.search.active{
    width: 21rem;
    transition: 0.3s
}

.search img{
    position: absolute;
    top: .7rem;
    left: .8rem ;
    display: block;
    justify-content: center;
    align-items: center;
}
.search .input{
    position: relative;
    left: 4rem;
    width: 17rem;
    height: 4rem;
    border: 1px solid red;
    display: block;
    justify-content: center;
    align-items: center;

}

.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1rem 0;
    font-size: 1.8rem;
}



.teste{
    display: flex;
    width: 100%;
    align-items: center;
}

.teste.on{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    background-color: var(--main-background);
}

.teste.on  .tt {
    display: none;
}

.teste.on .logo{
    display: block;
}

.teste.on nav{
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.teste.on nav ul{
    display: block;
    text-align: center;

}

.teste.on nav ul a{
    font-size: 2rem;
    line-height: 8rem;
    color: black;
}

.teste.on .menu{
    position: absolute;
    top: .7rem;
    left: 2rem;
}

.teste.on .menu .one{
    transform: rotate(45deg) translate(.7rem,.7rem) ;
}

.teste.on .menu .two{
    opacity: 0;
}

.teste.on .menu .tree{
    transform: rotate(-45deg) translate(.5rem,-.6rem) ;
}


/* Main */
.box{
    display: flex;
    flex-direction: row;
    background-color: var(--main-background);
    justify-content: right;
    align-items: center;
    padding: 1rem 2rem;
}

.nsei{
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 3rem;
}


.box .i1{
    width: 22rem;
}


.nsei img{
    width: 8rem;
}

.boxl{
    background-color: none;
    padding: 20px;
}

main{
    display: grid;
    /* grid-template-columns: 1fr; */
    height: 100vh;
    width: 100%;

}

