* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #ececed;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

body *{
  font-family: 'Roboto', sans-serif;
}

:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;

  font-size: 62.5%;
}

header {
  display: flex;
  flex: row;
  padding: 0.7rem 1rem;
  background-color: var(--main-background);
}

nav {
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 2rem;
}
.tt {
  display: flex;
}

.one,
.two,
.tree {
  height: 3px;
  background-color: black;
  width: 100%;
  margin: 0.6rem auto;
  transition-duration: 0.4s;
}

.menu {
  height: 3rem;
  width: 2.9rem;
  cursor: pointer;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.3s;
  display: block;
}

.logo img {
  width: 5.2rem;
  height: 2.6rem;
}

.navlinks {
  display: none;
}

.search {
  position: relative;
  border: 1px solid red;
  width: 4rem;
  height: 4rem;
  border-radius: 6rem;
  transition: 1.5s;
  cursor: pointer;
  overflow: hidden;
}

.search.active {
  width: 21rem;
  transition: 0.3s;
}

.search img {
  position: absolute;
  top: 0.7rem;
  left: 0.8rem;
  display: block;
  justify-content: center;
  align-items: center;
}
.search .input {
  position: relative;
  left: 4rem;
  width: 17rem;
  height: 4rem;
  border: 1px solid red;
  display: block;
  justify-content: center;
  align-items: center;
}

.search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 1rem 0;
  font-size: 1.8rem;
}

.teste {
  display: flex;
  width: 100%;
  align-items: center;
}

.teste.on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  background-color: var(--main-background);
}

.teste.on .tt {
  display: none;
}

.teste.on .logo {
  display: block;
}

.teste.on nav {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mail {
  background-color: white;
}

.teste.on nav .navlinks {
  display: block;
  text-align: center;
}

.teste.on nav .navlinks .link {
  font-size: 2rem;
  line-height: 8rem;
  color: black;
}

.teste.on .menu {
  position: absolute;
  top: 0.7rem;
  left: 2rem;
}

.teste.on .menu .one {
  transform: rotate(45deg) translate(0.7rem, 0.7rem);
}

.teste.on .menu .two {
  opacity: 0;
}

.teste.on .menu .tree {
  transform: rotate(-45deg) translate(0.5rem, -0.6rem);
}

/* Main */
.box {
  display: flex;
  flex-direction: row;
  background-color: var(--main-background);
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  gap: 1rem;
}

.boxl {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.nsei {
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 3rem;
}

.box .i1 {
  width: 22rem;
  border-radius: 0px 40px 40px;
}

.nsei img {
  width: 8rem;
}

.hover {
  border-bottom: 2px solid red;
}

.boxl {
  background-color: none;
  padding: 20px;
}

main {
  display: grid;
  /* grid-template-columns: 1fr; */
  width: 100%;
}

.boxl h1 {
  color: var(--text);
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 3rem;
}

.boxl p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--text-description);
}

.boxl span {
  color: var(--text);
  font-size: 3rem;
  font-weight: 700;
}

.boxl button {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  background-color: var(--button);
  padding: 1.4rem;
  border: 1px solid white;
  transition: 0.5s;
}

main button:hover {
  background-color: white;
  color: red;
  border: 1px solid var(--button);
  transition: 0.5s;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

iframe{
  width: 100%;
  height: 23rem;
}

.footer_links{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer_links a{
  color: var(--text);
  padding: 1rem 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  transition: 1s;
}

.footer_links a:hover{
  border: 1px solid var(--text);
  transition: 1s;
}

.footer_button{
  position: relative;
  background-color: var(--footer);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 10rem;
  gap: 0.5rem;
}


.footer_button:hover{
  background-color: red;
  border: 1px solid var(--text);
  color: var(--text);
}
